<%- include('./templates/header.ejs') %>

    <main>
        <h2>Witaj w stystemie zarządzania Hodowlą Ptaszników</h2>
        <p>Poniżej znajdziesz opis głównych funkcji systemu.</p>
        <ol>
            <li>Ptaszniki</li>
            <li>Pokarm</li>
            <li>Karmienia</li>
        </ol>

        <h3>1. Ptaszniki</h3>
        <p>W tej części systemu możesz wyświetlać wszystkie ptaszniki na hodowli. Dodawać nowe, edytować informacje o
            tych, którę są zapisane w systemie, a także usuwać je.</p>

        <h3>2. Pokarm</h3>
        <p>Tu znajdują się analogiczne funkcje dla pokarmów zapisanych w systemie co dla ptaszników</p>

        <h3>3. Karmienia</h3>
        <p>Część systemu odpowiedzialna za zapisywanie informacji o przebiegu karmienia ptaszników, danym rodzajem
            pokarmu.</p>

        <h2>Plany rozwoju systemu</h2>
        <p>W przyszłośći planowane jest zwiększenie ilośći przechowywanych danych o ptasznikach i pokarmach obejmujące
            między innymi ich fotografie czy opisy biotopów, w których występują.
            Rejestracja i autoryzacja również dla pracownikó zatrudnionych na hodowli umożliwając im aktualizacje
            systemu o biężące informacje dotyczące hodowli.
        </p>


        <p>Skorzystaj z menu nawigacyjnego aby udać się do odpowiedniej sekcji.</p>
    </main>

    <%- include('./templates/footer.ejs') %>